* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.nav__item, .sidebar__item {
    list-style: none;
}

.nav__link, .sidebar__link {
    text-decoration: none;
}
