@import "./variables.css";

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

.container {
    width: 1280px;
    display: block;
    margin: auto;
}

.logo-wrappers {
    margin-top: 63px;
}

.logo {
    font-size: var(--logo-font);
    color: var(--logo-text-color);
    text-decoration: none;
}

.logo-second {
    color: var(--logo-second-text-color);
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-bar-color);
    padding: 19px 0 21px 0;
    margin-top: 40px;
}

.nav__link {
    color: var(--nav-text-color);
    font-size: var(--middle-font);
    border-left: 1.2px solid rgb(250, 247, 247);
    border-right: 1px solid rgb(230, 219, 225);
    padding: 20px;
}

.nav__link:hover {
    background-color: var(--nav-bar-hover-color);
    color: var(--nav-text-color);
    transition: 700ms;
}

.main {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 49px;
    height: 100%;
    width: 100%;
    margin-top: 49px;
    margin-right: 40px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar__item {
    text-decoration: none;
    padding: 28px 44px;
}

.sidebar__link {
    font-size: var(--large-font);
    color: var(--aside-text-color);
}

.sidebar__item:hover {
    background-color: var(--aside-bar-hover-color);
    color: var(--hover-text-color);
    padding-left: 70px;
    transition: 700ms;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.image-wrappers {
    display: flex;
    margin-top: 49px;
}

.text__paragraph {
    margin-top: 2.3rem;
    color: var(--main-text-color);
}

.footer-menu {
    display: flex;
    background-color: var(--footer-bar-color);
    height: 69px;
    margin-top: 51px;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    align-items: center;
}

.footer__item {
    list-style: none;
}

.footer__item a {
    text-decoration: none;
    color: var(--footer-text-color);
    font-size: var(--large-font);
    padding: 15px;
}

.footer-info {
    display: flex;
    align-items: center;
    padding-left: 135px;
    font-size: var(--middle-font);
    color: var(--footer-copyright-text-color);
}

.footer__link:hover {
    color: var(--hover-second-text-color);
    text-decoration: underline;
}

.info {
    font-size: var(--middle-font);
}