:root {
    /* TODO Text-color */
    --main-text-color : rgba(44, 44, 44, 1);

    --aside-text-color : rgba(73, 88, 99, 1);

    --nav-text-color : rgba(255, 255, 255, 1);

    --hover-text-color : rgba(0, 0, 0, 1);
    --hover-second-text-color : rgba(49, 129, 166, 1);

    --footer-text-color : rgba(12, 25, 39, 1);
    --footer-copyright-text-color : rgba(1, 1, 1, 1);

    --logo-text-color : rgba(0, 0, 0, 1);
    --logo-second-text-color : rgba(75, 202, 255, 1);

    /* TODO Bar-color */
    --nav-bar-color : rgba(53, 68, 79, 1);
    --nav-bar-hover-color : rgba(34, 47, 58, 1);

    /* TODO Footer-color */
    --footer-bar-color : rgba(180, 183, 185, 1);

    /* TODO Aside-color */
    --aside-bar-hover-color : rgba(219, 219, 219, 1);

    /* TODO font  */
    --small-font : 1.1rem;
    --middle-font : 1.5rem;
    --large-font : 1.7rem;  
    --logo-font : 5rem;
}